:root {
  --primary-color: #afabf0;
  --secondary-color: #ecebfd;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  display: block;
  margin: 60px auto;
  text-align: center;
  max-width: 800px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

.nav-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.nav-links a {
  margin: 20px;
  padding: 20px 15px;
  border-radius: 4px;
  text-decoration: none;
}
.contact-link {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.about-link {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
}

.about-p {
  display: flex;
  margin: 30px 0;
}

.about-p p {
  margin: 10px;
  background: var(--secondary-color);
  padding: 20px;
  border-radius: 4px;
  font-size: 18px;
  text-align: center;
  line-height: 1.5;
}

.email-link {
  color: var(--primary-color);
  font-size: 20px;
  text-decoration: none;
}
